
/*    BUTTONS    */
.bg-primary,
.btn-primary {
  background-color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
}

.btn-outline-custom {
  border-color: var(--primary-green);
  color: var(--primary-green);
  background-color: transparent;
  transition: all 0.2s ease;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
  opacity: 0.9;
}

.btn-outline-custom:hover,
.btn-outline-custom:active,
.btn-outline-custom:focus {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  color: var(--white);
}







@media (max-width: 768px) {
  .track-hero {
    margin: -1rem -1rem 2rem -1rem;
  }
}

@media (max-width: 480px) {
  .track-hero {
    padding: 1.5rem 0;
  }
}



